<h1>Comment Edit</h1>



<%= form_for [@post, @comment] do |f| %>

  <div class="field">
    <%= f.label :context %>
    <%= f.text_field :context %>
  </div>
  <%= f.submit 'Update Comment' %>
<% end %>


