<h1>Comment Edit</h1>



<%= form_with model: @comment do |form| %>

  <div>
    <%= form.label :context%><br>
    <%= form.text_field :context %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>

